<div class="card h-100 shadow-sm overflow-hidden post-card d-flex mt-5">
    
    <img src="{{post.media_url}}" alt="{{post.title}}" class="cover-image bg-white">
    

    <div class="pt-3 mt-5 px-5 mb-3 post-title text-dark">
        {{post.title}}
    </div>


    <div >
        <div class="text-justify fs-6 mt-3 mb-5 px-5 post-content">
            {{post.content}}
        </div>
    </div>

    <div class="d-flex justify-content-between">
        <button (click)="goToOriginPost()" class="btn btn-outline-primary rounded rounded-5 mt-5 mx-4 my-4 origin-button">
            Read source ...
        </button>
        <button (click)="deletePost()" class="btn btn-outline-primary button-outline-circle rounded rounded-5 mt-5 mx-4 my-4">
            <i class="fa fa-lg fa-trash"></i>
        </button>
    </div>
</div>